body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(128, 128, 128, 0.205);
}
/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27374D;
    padding: 10px 20px;
    color: white;
}

.navbar-logo {
    font-size: 24px;
}

.navbar-menu {
    display: none;
    list-style: none;
    padding: 40px;
    margin: 0;
    position: absolute;
    top: 49px;
    right: 2px;
    background-color: #0d214fe3;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.navbar-menu.active {
    display: block;
}

.navbar-menu li {
    padding: 20px;
    
}

.navbar-menu a {
    text-decoration: none;
    color: white;
}

.navbar-toggle {
    display: block;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
}

/* Adicione a animação de slide e fade */
@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.navbar-menu {
    /* ... */
    animation: slideFadeOut 0.3s ease-in-out;
}

.navbar-menu.active {
    display: block;
    animation: slideFadeIn 0.3s ease-in-out;
}
/* Cartão */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    max-width: calc(50% - 20px); /* 50% de largura menos o espaço entre os cartões */
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card h2 {
    margin-top: 0;
    font-size: 24px;
}

.card p {
    color: #555;
}

.card-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #fcfcfc;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: .1px solid black;
    
    
}

.card-button:hover {
    background-color: #b9babb83;
}